@charset "utf-8";

html, body{
	background: #EFEFEF;
}

.h1 {
	text-align: center;
    border-radius: 30px;
    background-clip: padding-box


.h2 {
	position: absolute;
	visibility: visible;
	left: 830px;
	top: 300px;
	z-index: 200;
}

h2 {
	text-align: center;
}
